*.md linguist-detectable=true -linguist-documentation
*.json linguist-detectable=true
*.yml linguist-detectable=true -linguist-vendored
*.yaml linguist-detectable=true -linguist-vendored
.gitattributes linguist-language=gitattributes linguist-detectable -linguist-documentation -linguist-vendored -linguist-generated
